<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("../_header.ejs") %>
    <h1>Receptionist  Dashboard</h1>
    <!-- 
        Receptionist Dashboard
        -- View bookings and their status upto to one week
        -- View booking payment status
        -- confirm checkin and checkout
        -- View all clients and their detail
        -- View all rooms and their status
        -- View all spots and their status
    -->
    
</body>
</html>