<link rel="stylesheet" href="/styles/main.css" />
<header>
  <% if(locals.user){ %>
  <p><%= locals.user.name %></p>
  <% }else{ %>
  <a href="/">The Lobo</a>
  <% } %>

  <nav>
    <% if(locals.user){ %>
    <a href="/checkin">Checkin Client</a>
    <a href="/checkout">Checkout Client</a>
    <a href="/bookings">Bookings</a>
    <a href="/clients">Clients</a>
    <a href="/logout">Logout</a>
    <% }else{ %>
    <a href="/about">About</a>
    <a href="/#rooms"> Book Now</a>
    <a href="/checkin">Checkin</a>
    <a href="/checkout">Checkout</a>
    <a href="/login">Login</a>
    <% } %>
  </nav>
</header>
