<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About the Lobo</title>
  </head>
  <body>
    <%- include("_header.ejs") %>
    <h1>About The Lobo</h1>
    <p>
      Welcome to The Lobo, your go-to destination for all things travel and
      adventure!
    </p>
    <p>
      We are dedicated to providing you with the best travel experiences, tips,
      and resources.
    </p>
    <p>
      Our mission is to inspire and empower travelers to explore the world and
      create unforgettable memories.
    </p>
    <p>
      Whether you're looking for travel guides, destination recommendations, or
      travel tips, we've got you covered.
    </p>
  </body>
</html>
