<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Success</title>
</head>
<body>
    <%- include("_header.ejs") %>
    <section class="booking-success">
        <h1> <%= locals.message %> </h1>
        <p>Your booking has been recieved. Thank you for choosing us!</p>
        <p>We will send you a confirmation email shortly.</p>
        <br>
        <p>If you have any questions, feel free to <a href="/contact">contact us</a>.</p>
        <p><a href="/">Return to Home</a></p>
    </body>
</html>