<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
  </head>
  <body>
    <%- include("_header.ejs") %>
    <h1>Book Room or Spot</h1>
    <!-- allow any user to book a spot or a room -->
    <!-- date/days , identify capacity -->
  </body>
</html>
