<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("../_header.ejs") %>
    <h1>Super Admin Dashboard</h1>
    <!-- 
        Super Admin Dashborad
        - View all users and their roles
        - View all bookings and their status
        - View all clients and their details
    -->
</body>
</html>